.zad1 {
    text-decoration: none;
    color: blue;
}
.zad2 li {
  border: 1px solid blue;  
  color: blue;
  width: 150px;
  padding: 5px;
  margin-bottom: 5px;
}
.zad2 {
    list-style-type: none;
}
.zad2 li:hover {
font-weight: bold;
}
.zad3 li {
    border: 1px solid gray;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
    background: rgb(97, 97, 97);
    color: white;
    font-weight: bold;
}
.zad3 li:hover {
    color: rgb(80, 79, 79);
    background: white;
    
}
.zad3 {
    list-style-type: none;
}
.zad4 li {
border: 1px solid rgb(7, 145, 65);
width: 150px;
padding: 5px;
margin-bottom: 5px;
background: rgb(7, 145, 65);
color: white;
font-weight: bold;
}
.zad4 li:hover {
    background:white;
    color: green;
}
.zad4 {
    list-style-type: none;
}
.zad4 li:hover::after {
 content: url(../../../img/1.png);   
 padding: 30px;
}
.zad5 li {
    display: inline-block;
    border: 1px solid blue;
    color: blue;
    padding: 5px;
    margin: 5px;
}
.zad5 li:hover {
color: red;
}
.zad6 li {
    display: inline-block;
    border: 1px solid blue;
    color: blue;
    padding: 5px;
    margin: 5px;
}
.zad6 li:hover {
    background: gray;
    color: white;
    border: 1px solid gray;
    }
    .zad6 {
        list-style-type:none;
    }